http 80;
pulsedb /var/lib/flussonic;
session_log /var/lib/flussonic;
cluster_key someoneforgotthekeys;
view_auth admin password;
edit_auth admin password;

{% for host in ingest_servers %}
source {{ hostvars[host].inventory_hostname }} {
  only live/*;
  segment_count 2;
  segment_duration 2;
  thumbnails enabled=false;
  dvr /storage 7d 90%;
  protocols -jpeg -m4f -mseld -mss -rtmp -rtsp -shoutcast -srt;
  transcoder deviceid=0 gop=30 hw=nvenc vb=4000k vcodec=h264 open_gop=false preset=veryfast size=1280x720:fit:#000000 vb=2500k vcodec=h264 open_gop=false preset=veryfast size=852x480:fit:#000000 ab=copy split_channels=false;
  cmaf on;
  webrtc_abr;
}
{% endfor %}
